# Fill out this file, and then move it from .env.example to .env

# The homeserver of your bot account, usually the part after the colon.
# Make sure this is a full URL.
# Example: "https://matrix.org"
MATRIX_INSTANCE=
# The username of your bot account, usually the part before the colon.
# Do not include the @ or :
# - Only used in generateToken
MATRIX_USER=
# The password of your bot account
# - Only used in generateToken
MATRIX_PASSWORD=
# Your last.fm API key
# You can get one here: https://www.last.fm/api/account/create
LAST_FM_KEY=