aiodns==4.0.0
annotated-types==0.7.0
cffi==2.0.0
cryptography==46.0.5
dotenv==0.9.9
DoubleRatchet==1.3.0
elementpath==5.1.1
Oldmemo==2.1.0
OMEMO==2.1.0
protobuf==6.33.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycares==5.0.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
slixmpp==1.13.2
slixmpp-omemo==2.1.0
Twomemo==2.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
websockets==16.0
X3DH==1.3.0
XEdDSA==1.2.0
xmlschema==4.3.1
